* {
  overflow-x: auto;
  white-space: nowrap
}




.nav-container {
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid red;
}
nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: left;
  padding-top: 15px;
  /* padding-bottom:10px; */
  /* margin-bottom:10px; */
  background-color:rgba(34, 34, 34, 0.6);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
nav li {
  float: left;
  color: white;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
  /* font-family: "Rubik", sans-serif; */
  font-size: medium;
}

header {
  height: 100%;
  width: 100%;
 background-color:rgba(34, 34, 34, 0.6);
 
}

.aboutTitle{
  color: white;
  padding-top:20px;
  text-align: center;
  font-size: 4em;
}

.aboutHeader{
  margin-top:35px;
  margin-bottom: 35px;
  color: white;
  padding-top:20px;
  text-align: center;
  
}

.messy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px lightblue;
}

.organized{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px lightblue;
}

.howHeader{
  color: white;
  padding-top:60px;
  text-align: center;
}

 .steps{
  color: white;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
}

.pageImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

