* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  color: white;
}

.nav-container {
  margin: 0 auto;
  width: 100%;
  border-bottom: 2px solid red;
}

header {

  height: 100vh;
  position: relative;
  background-image: 
    url(../Images/TrackThat.png);
    background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  background-color:rgba(34, 34, 34, 0.6);
  color: #fff;
  
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: left;
  padding-top: 15px;
  /* padding-bottom:10px; */
  /* margin-bottom:10px; */
  background-color:rgba(34, 34, 34, 0.6);
  color: white;
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
nav li {
  float: left;
  color: white;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: medium;
}
.header-container-inner {
  width: 50%;

}

h1 {
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color:red;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  padding: 96px 0;
  background-color: #f7f7f7;
}

  .header-text {
    font-size: medium;
    margin-left: -100px;
  }



  h1 {
    font-size: medium;
    margin-left:-100px;
  }

  .btn-adj1 {
    font-size: medium;
  margin-right: 50px;
    margin-left:-100px;
  }





@media screen and (max-width :1300px) {
  .header-text {
    font-size: medium;
    margin-left: 35%;
  }
}

@media screen and (max-width : 1300px) {
  h1 {
    font-size: large;
    margin-left: 35%;
  }
}
  
@media screen and (max-width : 1300px) {
  .btn-adj {
    
    margin-bottom:30px;
    margin-left: 35%;
  }
}

@media screen and (max-width : 1300px) {
  .btn-adj1 {
   
    margin-bottom:30px;
    margin-left: 35%;
  }
}
@media screen and (max-width : 800px) {
  header{background-image: 
    url(../Images/TrackThat.png);
    background-size: 40%;}

}
